@font-face {
    font-family: Jakarta;
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: JakartaB;
    src: url(assets/fonts/static/PlusJakartaSans-ExtraBold.ttf);
}

:root {
    --White:hsl(0,0%,100%);
    --Verylightgrayishblue:hsl(210,60%,98%);
    --Lightgrayishblue1:hsl(211,68%,94%);
    --Lightgrayishblue2:hsl(205,33%,90%);
    --Grayishblue:hsl(219,14%,63%);
    --Darkgrayishblue:hsl(219,12%,42%);
    --Verydarkblue:hsl(224,21%,14%);
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);
  }


*,*::before,*::after {
    font-family: Jakarta;
    box-sizing: border-box;
    
}


body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.container {
    margin: 3.125rem;
    width: 38%;
    height: 100vh;
    background-color: white;
}

.notifications {
    margin: 0rem -0.9375rem;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-family: JakartaB;
    
}

h5 {
    letter-spacing: 0.05rem;
    margin-right: 2.8125rem;
    color: var(--Darkgrayishblue);
}

h5:hover {
    color: var(--Blue);
    cursor: pointer;
}

.wrapper {
    display: flex;
}

.number {
    font-family: JakartaB;
    font-size: 1.125rem;
    color: white;
    margin-left: .625rem;
    margin-top: 1.25rem;
    border-radius: 20%;
    width: 2.1875rem ;
    height: 1.875rem;
    background-color: blue;
    display: inline-block;
    line-height: 1.875rem;
    text-align: center;
}

.pp {
    margin-top: .5rem;
    justify-content: center;
    align-items: center;
}

.notis { 
    margin: .625rem;
}

p {
    letter-spacing: .04rem;
    width: 95%;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.blue {
    font-family: JakartaB;
    font-weight: 900;
    color: var(--Blue);
}

.blue:hover {
    cursor: pointer;
}

.message {
    padding-left: .9375rem;
    margin-left: 5rem;
    border-radius: .4375rem;
    border: .0625rem solid var(--Lightgrayishblue1);
    width: 100%;
    font-weight: 600;
    color: var(--Darkgrayishblue);
}

.message:hover {
    cursor: pointer;
    background-color: var(--Lightgrayishblue1);
}


.grey {
    font-weight: 600;
    color:var(--Darkgrayishblue)
}

.darkgrey {
    font-family: JakartaB;
    font-weight: 900;
    color: var(--Darkgrayishblue);
}

.darkgrey:hover {
    cursor: pointer;
    color: var(--Blue);
}

.bold {
    font-family: JakartaB;
    margin-right: .3125rem;
    font-weight: 800;
}

.bold:hover {
    color: var(--Blue);
    cursor: pointer;
}

.day {
    color: var(--Grayishblue);
    display: block;
}

.card {
    position: relative;
    display: flex;
    margin: 1.25rem 0;   
}

.card:nth-child(2) {
    margin-top: .9375rem;
}

.card:nth-child(5) > p {
    width: 80%;
}

.msg {
    flex-wrap: wrap;
}

.active, .active > p{
    border-radius: .3125rem;
    background-color: var(--Verylightgrayishblue);
}

img {
    width: 3.125rem;
    height: 3.125rem;
}

.chess {
    margin-top: 15px;
    position: relative;
    float: right;
}

.chess:hover {
    cursor: pointer;
}

.new-notif {
    background-color: var(--Red);
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    display: inline-block;
}

.none {
    display: none;
}

.attribution {
    font-size: .6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* MOBILE */

@media screen and (max-width:400px) {
.container {
    margin: .3125rem;
    width: 100%;
    height: 100vh;
    
}
.notifications {
    margin: .625rem .625rem;
    display: flex;
    justify-content: space-between;
}
h5 {
    letter-spacing: 0.05rem;
    margin-right: 0px;
    }
.card {
    margin: 1.25rem 0rem;   
}
.message {
    padding-left: 1.25rem;
    margin-left: 3.75rem;
    width: 90%;
    font-weight: 600;
    border: .0625rem solid var(--Grayishblue);
   }
   .chess {
    margin-top: .625rem;
       
}

}