@font-face {
    font-family: Jakarta;
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

:root {
    --active: hsl(210, 60%, 98%);
    --white: #ffffff;
  }


*,*::before,*::after {
    font-family: Jakarta;
    box-sizing: border-box;
}

.container {
    position: relative;
    height: 100vh;
    width: 50vw;
    margin: 70px auto;
}

h4 {
    display: inline;
}

.notifications {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.active {
    
    background-color: var(--active)
}

.pp {
    vertical-align: middle;
    height: 3.125rem;
    width: 3.125rem;
    
}

.chess {
    margin-top: -3.4375rem;
    float: right;
    height: 50px;
    width: 50px;
}

p {
   line-height: normal;
    display: inline-block;
    
}

span {
    margin-top: -10px;
    margin-left: 3.400rem;
    display: block;
}

.card {
    
    
}

.number {
    display: inline-block;
}



.message {}


.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}